// Mixins
// Display and align center;
.displayFlex{
    display: flex;
    justify-content: center;
    padding: @padingTiny;
    margin: @marginTiny;
}
.navPad{
    padding: @padingTiny;
    margin: @marginNormal;
    text-decoration: none;
    font-size: @larger;
}


// paramatric mixin


