// Mixins
// Display and align center;
.displayFlex{
    display: flex;
    justify-content: center;
    padding: @padingTiny;
    margin: @marginTiny;
}
.navPad{
    padding: @padingTiny;
    margin: @marginNormal;
    text-decoration: none;
    font-size: @larger;
}


// paramatric mixin

.button{
    background-color:#022283;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 27px;
	text-decoration:none;

    button:hover{
      background-color: white;
    }
}
.button{
    button {
	background-color:#022283;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 27px;
	text-decoration:none;
}
    button:hover {
	background-color:#ffffff;
    }
    button:active {
	position:relative;
	top:1px;
    }
}