// Navigation code here
.nav-title {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background-color: @wild-sand;
    width: 100%;
    margin: 0 auto;
    

    h1 {
        justify-content: center;
        margin: 0 auto;
        font-size: 4rem;
        margin-top: 1rem;
    }

    nav {
        display: flex;
        width: 60%;
        margin: 1rem auto;


        a {
            text-decoration: none;
            color: @river-bend;
            justify-content: space-evenly;
            margin: 0 auto;
            font-size: 1.5rem;
            font-weight: boldest;
        }
        img{
            border-radius: 10px;
        }
    }

}