.navigation{
    font-weight: bold;
    color: @river-bend;
    background-color: @wild-sand;
    border: 1px solid @sea-shell;

    .heading {
        .displayFlex;
        font-size: @xtraLarge;
        color: @ebony-clay;
    }

    .navbar{
        .displayFlex;

    & a{
        color: @ebony-clay;
        .navPad;
    }
}
}